SESSION_SECRET=
COOKIE_SECURE=1
MONGO_URI=
PORT=3000
JWT_SECRET=
DATETIME_FORMAT=DD-MM-YYYY
STRIPE_API_KEY=
FRONTEND_URL=
MOMENT_TZ=Europe/Paris
NODE_ENV=development
MONGO_DBNAME=

#EJS
BRAND_NAME=Brand name
TW_TEXT_COLOR_CLASS=text-red-600
TW_BTN_CLASS=bg-red-500 hover:bg-red-600 text-white
TW_TEXT_LINK_CLASS=text-red-500 hover:text-red-800