<% if (user && user.role === 'admin') { %>
    <div class="bg-white py-2 px-4 my-4">
      <div class="container mx-auto flex items-center justify-between">
        <span class=" text-black font-semibold">Admin Tools</span>
        <nav>
          <a href="/admin/users" class="text-gray-800 hover:text-black mx-2">Manage Users</a>
          <a href="/admin/manage-services" class="text-gray-800 hover:text-black mx-2">Manage Services</a>
          <a href="/admin/manage-tools" class="text-gray-800 hover:text-black mx-2">Manage Tools</a>
          <a href="/admin/events" class="text-gray-800 hover:text-black mx-2">View Events</a>
          <a href="/admin/manage-pricing-plans" class="text-gray-800 hover:text-black mx-2">Manage Pricing Plans</a> 
          <a href="/admin/orders" class="text-gray-800 hover:text-black mx-2">View Orders</a>
          <!-- <a href="/admin/settings" class="text-gray-800 hover:text-black mx-2">Site Settings</a> -->
        </nav>
      </div>
    </div>
  <% } %>