<footer class="flex justify-center">
    <a href="/switch-lang/en" class="mr-4">English</a>
    <a href="/switch-lang/es" class="mr-4">Español</a>
    <a href="/switch-lang/fr">Français</a>
</footer>
</body>
</html>